body {background-color: black;}

.post{
    height: 450px;
    width: 400px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
}
    
.fa-brands fa-html5{
    display: flex;

}

.fa-solid fa-ellipsis {
display: flex;



}


img{
    width: 400px;
    height: 250px;
}